/* GOOGLE FONTS */
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Text&family=Inter:wght@400;500&display=swap");

/* TAILWIND STYLINGS */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  body {
    @apply font-inter antialiased font-normal text-base;
  }

  h1,
  h2,
  h3,
  h4 {
    @apply font-normal font-dmserif;
  }

  section,
  div {
    @apply relative;
  }
}

.scrollbar::-webkit-scrollbar {
  width: 10px; /* Set the width of the scrollbar */
}

.scrollbar::-webkit-scrollbar-thumb {
  background-color: #cae9ffbf; /* Set the color of the thumb */
  border-radius: 6px; /* Optional: Set the border radius of the thumb */
}

.scrollbar::-webkit-scrollbar-track {
  background-color: #cbd5e0; /* Set the color of the track */
  border-radius: 4px; /* Optional: Set the border radius of the track */
}
